<h3> Quizes con ese texto </h3>

<p> Sólo he metido 2 preguntas: capital de Italia y de Polonia. </p>

<% 
for (var i = 0, len = encontrados.length; i < len; i++) {
%>	

<p>
	<%=  encontrados[i].pregunta %>
</p>

<%
}
%>


